@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

:root {
--white: hsl(0, 0%, 100%);
--light-gray: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);
}

* {
    font-family: "Outfit", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light-gray);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    background-color: var(--white);
    height: 480px;
    width: 320px;
    border-radius: 20px;
    box-shadow: 0 25px 25px rgba(0,0,0, 0.05);
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.img {
    display: flex;
    justify-content: center;
}  

.img img {
    height: 280px;
    width: 280px;
    border-radius: 20px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.title {
    width: 288px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.title p {
    font-size: 22px;
    font-weight: 700;
    color: var(--dark-blue);
    text-align: center;
}

.subtitle {
    width: 256px;
    margin: 0 auto;
}

.subtitle p {
    font-size: 15px;
    font-weight: 400;
    color: var(--grayish-blue);
    text-align: center;
}